body{
    background-image: url("./media/stars.jpg");
}

#c {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}

.container{
    display: grid;
    grid-gap: 6px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px 500px 100px;
    grid-template-areas:
        ". h h h h h h h h h h ."
        ". c c c c c c c c c c ."
        ". f f f f f f f f f f .";
}

.content {
    display: grid;
    grid: auto / auto auto auto;
    text-align: center;
    grid-area: c;
    border: 1px solid aliceblue;

}

*[data-diagram] {
    color: aliceblue;
    width: auto;
    height: auto;
}



.header {
    background-color: #F46A42;
    text-align: center;
    grid-area: h;
    font-size: xx-large;
}

.footer {
    background-color: #05F1F2;
    text-align: center;
    grid-area: f;
    font-size: xx-large;
}